/*your custom css goes here*/

.logo-bar-area {
    color: #fff;
    background-color: #1C2A30;
    font-family: 'Cairo', sans-serif;

}

.cairo, .text-truncate {
    font-family: 'Cairo', sans-serif;
}

.bg-white-blue {
    font-family: 'Cairo', sans-serif;

    color: #fff;
    background-color: #0094AA;
}

.btn-primary, .badge-primary {
    background-color: #0094AA;
    border-color: #0094AA;

}

.top-navbar {
    background: var(--primary);
}

h1, h2, h3, h4, h5, h6, a, span, p, input, textarea, button, label, td, th, tr,b {
    font-family: 'Cairo', sans-serif !important;
}

.f-cairo {
    font-family: 'Cairo', sans-serif !important;
}

.primary-color {
    background: var(--primary);
}

.logo-bar-area {
    background: #000000;
}

.front-header-search {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.front-header-search .input-group-append button {
    background: var(--primary);
}

#section_home_categories .align-items-baseline a,
.subscribe-news,
.apply-noew-seller {
    background: var(--primary);
}

#search-content .search-product .product-name {
    color: black;
    font-family: 'Cairo', sans-serif !important;
}
